table
{
    border-collapse : collapse;
}
th, td
{
    border:1px solid black
}

.layout th:hover{
    background-color:purple;
}
.layout td:hover{
    background-color:blue;
}

.layout th:hover, td:hover{
    color:white;
    transition:0.5s;
}
